.card-detail-wrapper{
    padding:  2rem 3rem 1rem 3rem;
    display: flex;
    /* width: 93%; */
    justify-content: space-between;
    background-color: var(--bg-color-type2);
    min-height: 85vh;
    /* height:100% ; */
}

@media screen and (max-width:868px) {
    .card-detail-wrapper{
        width: auto;
        min-height: 91vh;
        padding: 2rem 2rem 1rem 2rem;
    }
}
@media screen and (max-width: 600px)
{
    .card-detail-wrapper{
        flex-direction: column;
        justify-content: unset;
    }
}