.accounts{
    background-color: var(--bg-color-type1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
    /* height: 100%; */
}
/* .shop-card{
    height: 200px;
} */
.card-link{
    text-decoration: none;
}

@media screen and (max-width:600px){
    .accounts{
        padding: 1rem 0.5rem;
    }

}