.about-us{
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    background-color: var( --bg-color-type2);
}
.para{
    text-align: center;
    margin: 1.5rem 0rem;
    font-size: 20px;
    color: var(--text-color2);
}

@media screen and (max-width:600px){
    .about-us{
        padding: 1rem 2rem;
    }
}