.profile-wrapper{
    padding: 3rem 2.5rem 3rem 2.5rem;
    height: 100%;
    display: flex;
    background-color: var(--bg-color-type2);
    min-height: 76.5vh;
}
.profile-left{
    width: 28%;
}
.profile-right{
    width: 100%;
    margin-left: 3rem;
}

@media screen and (max-width:868px) {
    .profile-wrapper{
        flex-direction: column;
        min-height: 100vh;
    }
    .profile-left{
        width: auto;
    }
    .profile-right{
        width: auto;
        margin: 1rem 0rem;
    }
}

@media screen and (max-width:600px) {
    .profile-wrapper{
        padding: 1rem;
        min-height: 100vh;
    }
}